.khan__buy-link {
  margin: 0;
  position: absolute;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: ease 1s;
}
